<section class="cols">
	{% for COL in COLUMNS %}
       
		<div class="col">
			<h3>{{COL.TITLE|raw}}</h3>
			<h5>{{COL.HEADING|raw}}</h5>
			<p>
				{{COL.TEXT|raw}}<br />
			</p>
		</div>   
       
    		{% endfor %}

	<div class="cl">
		&nbsp;
	</div>
</section>