<section class="entries">
	<div class="entry">
		<h3>Latest News</h3>
		
		{% for POST in BLOG_POSTS %}
		
		<div class="entry-inner">
			<div class="date">
				<strong>{{POST.day}}</strong>
				<span>{{POST.year}}</span>
				<em>{{POST.month}}</em>
			</div>
			<div class="cnt" style="margin-bottom:5px;">
				<p>
					<a href="{{get_permalink(POST.ID)}}" style="word-wrap:break-all;">{{truncate(POST.post_content,10,90)|raw}}</a>
				</p>
				<p class="meta">
					<a href="#" style="float:right;margin-right:30px;">by {{POST.author}} / Community Blog</a>
				</p>
			</div>
		</div>
		
		
		{% endfor %}
		
		
	</div>
	<div class="entry" style="width:500px;">
	<h3>Service Locations</h3>
	<div style="float:left;">
		
		<h5>Rice Memorial Center </h5>
		
		<p>
			901 West Memorial Drive<br>
			Houghton, MI 49931<br>
			(906) 482-9400<br>
		</p>
		<br>
		<h5>Rice Memorial Ctr. - CLK Branch </h5>
		
		<p>
			56938 Calumet Avenue<br>
			Calumet, MI 49913<br>
			(906) 337-5810<br>
		</p>
	
	</div>

	<div style="float:right;">
		<h5>Baraga County Center </h5>
		<p>
			15644 Skanee Road, Skanee Rd.<br>
			L'Anse, MI 49946<br>
			(906) 524-5885<br>
		</p>
		<br>
		
		<h5>Ontonagon County Center </h5>
		
		<p>
			515 Quartz Street.<br>
			Ontonagon, MI 49953<br>
			(906) 884-4804<br>
		</p>	

		
	
	</div>



		
		
		

		
	</div>
	<div class="cl">
		&nbsp;
	</div>
</section>