/*
 Theme Name: CCCMH Theme
 Theme URI: http://www.cccmh.org
 Description: A Site Theme
 Version: 0.1 - completed
 Author: Cody Adkins
 Author Email: codyadkins@gmail.com
 */

.site-content {
	background-color: #FFFFFF;
	border: 2px solid #eaeaea;
	padding: 10px;
	min-height: 400px;
}

.clear {
	clear: both;
}


.blog-page .blog-post{
	padding:10px;
	border:1px solid #EAEAEA;
	min-height: 220px;
}


.blog-page .float-left{
	float:left;
	margin-bottom:10px;
	width:300px;height:200px;
}

.blog-page .float-left .post-img{
	
	border:1px thick #BEBEBE;
	height:100%;width:100%;
	
}


.blog-page .float-right{
	width:550px;
	float:left;
	margin-left:25px;
}