<!-- navigaation -->
<nav id="navigation">
	<a href="#" class="nav-btn">HOME<span></span></a>

	<ul>
		{% for ITEM in NAVIGATION_MENU_ITEMS %}
		<!--{{POST_ID}} and {{ITEM.object_id}}-->
		{% if POST_ID==ITEM.object_id %}
		<li class="active">
			<a href="{{ITEM.url}}">{{ITEM.title}}</a>
		</li>
		{% else %}
		<li>
			<a href="{{ITEM.url}}">{{ITEM.title}}</a>
		</li>

		{% endif %}
		{% endfor %}

	</ul>
	<div class="cl">
		&nbsp;
	</div>
</nav>
<!-- end of navigation -->