<section class="cols blog-page" style="margin-bottom:-20px;">
	{% for POST in POSTSW %}

	<!--
	{{var_dump(POST)}}

	-->

	<div class="blog-post">

		<div class="float-left" style="">
			<img class="post-img" src="{{POST.IMG}}" style="">
		</div>
		<div class="content float-right">
			<h3><a href="{{get_permalink(POST.ID)}}">{{POST.post_title|raw}}</a></h3>
			<p>
				{{truncate(POST.post_content,100,500)|raw}}
				<br>
				<a href="{{get_permalink(POST.ID)}}">Read Entire Post ...</a>
			</p>
		</div>

	</div>

	<br>

	{% endfor %}

	<div class="cl">
		&nbsp;
	</div>
	<div style="width:500px;margin-left:auto;font-size:.9em;">
		* {{SITE_TITLE}} is an equal opportunity employer.
	</div>

</section>

