<section class="cols" style="margin-bottom:-20px;">
	{% for POST in POSTS %}

	

	<div class="featured" style="margin-bottom:15px;margin-top:8px;">
		<h2><a href="{{get_permalink(POST.ID)}}">{{POST.post_title|raw}}</a></h2>
		<br>
		<h5><strong>Posted: {{mysql2date(get_settings('date_format'), POST.post_date)}}</strong> <br>Modified: {{mysql2date(get_settings('date_format'), POST.post_modified)}}</h5>
		<div class="post-body">

			{{POST.post_content|raw}}

			

		</div>
	</div>

	{% endfor %}

	<div class="cl">&nbsp;</div>
	<div style="width:500px;margin-left:auto;font-size:.9em;">* {{SITE_TITLE}} is an equal opportunity employer.</div>
	
</section>


