<section class="cols" style="margin-bottom:-20px;">
	<div class="site-content">
		<h2><a href="">{{PAGE_TITLE|raw}}</a></h2>
		<br>
		<h5><strong>Posted: {{mysql2date(get_settings('date_format'), POST.post_date)}}</strong> <br>Modified: {{mysql2date(get_settings('date_format'), POST.post_modified)}}</h5>
		
		<p>
			{{CONTENT|raw}}
		</p>
	</div>

	<div class="cl">
		&nbsp;
	</div>
	<br>
	<div style="width:500px;margin-left:auto;font-size:.9em;">* {{SITE_TITLE}} is an equal opportunity employer.</div>
	
</section>




