<!-- slider-holder -->

<!-- slider -->
<div class="slider-holder">

	<!-- slider -->
	<div class="slider">
		<div class="socials">
			<a href="#" class="facebook-ico">facebook-ico</a>
			<a href="#" class="twitter-ico">twitter-ico</a>
			<a href="#" class="skype-ico">skype-ico</a>
			<a href="#" class="rss-ico">rss-ico</a>
			<div class="cl">
				&nbsp;
			</div>
		</div>

		<div class="arrs">
			<a href="#" class="prev-arr"></a>
			<a href="#" class="next-arr"></a>
		</div>

		<ul>
			<li id="img1">
				<div class="slide-cnt">
					<h4>Heading Title Goes</h4>
					<h2>Just Like That</h2>
					<p>
						Acor porta mi, non venenatis augue imperdiet quis. Nam faucibus, felis ut suscipit vulputate, tortor quam ultricies neque, eget dignissim elit urna a metus. Aliquam sed quam dui, id lacinia nunc. <a href="#">read more</a>
					</p>
				</div>
				<img src="{{THEME_URL}}/Assets/css/images/mac-img.png" alt="" />
			</li>

			<li id="img2">
				<div class="slide-cnt">
					<h4>Heading Title Goes</h4>
					<h2>Just Like That</h2>
					<p>
						Acor porta mi, non venenatis augue imperdiet quis. Nam faucibus, felis ut suscipit vulputate, tortor quam ultricies neque, eget dignissim elit urna a metus. Aliquam sed quam dui, id lacinia nunc. <a href="#">read more</a>
					</p>
				</div>
				<img src="{{THEME_URL}}/Assets/css/images/mac-img.png" alt="" />
			</li>

			<li id="img3">
				<div class="slide-cnt">
					<h4>Heading Title Goes</h4>
					<h2>Just Like That</h2>
					<p>
						Acor porta mi, non venenatis augue imperdiet quis. Nam faucibus, felis ut suscipit vulputate, tortor quam ultricies neque, eget dignissim elit urna a metus. Aliquam sed quam dui, id lacinia nunc. <a href="#">read more</a>
					</p>
				</div>
				<img src="{{THEME_URL}}/Assets/css/images/mac-img.png" alt="" />
			</li>

			<li id="img4">
				<div class="slide-cnt">
					<h4>Heading Title Goes</h4>
					<h2>Just Like That</h2>
					<p>
						Acor porta mi, non venenatis augue imperdiet quis. Nam faucibus, felis ut suscipit vulputate, tortor quam ultricies neque, eget dignissim elit urna a metus. Aliquam sed quam dui, id lacinia nunc. <a href="#">read more</a>
					</p>
				</div>
				<img src="{{THEME_URL}}/Assets/css/images/mac-img.png" alt="" />
			</li>

			<li id="img5">
				<div class="slide-cnt">
					<h4>Heading Title Goes</h4>
					<h2>Just Like That</h2>
					<p>
						Acor porta mi, non venenatis augue imperdiet quis. Nam faucibus, felis ut suscipit vulputate, tortor quam ultricies neque, eget dignissim elit urna a metus. Aliquam sed quam dui, id lacinia nunc. <a href="#">read more</a>
					</p>
				</div>
				<img src="{{THEME_URL}}/Assets/css/images/mac-img.png" alt="" />
			</li>

			<li id="img6">
				<div class="slide-cnt">
					<h4>Heading Title Goes</h4>
					<h2>Just Like That</h2>
					<p>
						Acor porta mi, non venenatis augue imperdiet quis. Nam faucibus, felis ut suscipit vulputate, tortor quam ultricies neque, eget dignissim elit urna a metus. Aliquam sed quam dui, id lacinia nunc. <a href="#">read more</a>
					</p>
				</div>
				<img src="{{THEME_URL}}/Assets/css/images/mac-img.png" alt="" />
			</li>

			<li id="img7">
				<div class="slide-cnt">
					<h4>Heading Title Goes</h4>
					<h2>Just Like That</h2>
					<p>
						Acor porta mi, non venenatis augue imperdiet quis. Nam faucibus, felis ut suscipit vulputate, tortor quam ultricies neque, eget dignissim elit urna a metus. Aliquam sed quam dui, id lacinia nunc. <a href="#">read more</a>
					</p>
				</div>
				<img src="{{THEME_URL}}/Assets/css/images/mac-img.png" alt="" />
			</li>

			<li id="img8">
				<div class="slide-cnt">
					<h4>Heading Title Goes</h4>
					<h2>Just Like That</h2>
					<p>
						Acor porta mi, non venenatis augue imperdiet quis. Nam faucibus, felis ut suscipit vulputate, tortor quam ultricies neque, eget dignissim elit urna a metus. Aliquam sed quam dui, id lacinia nunc. <a href="#">read more</a>
					</p>
				</div>
				<img src="{{THEME_URL}}/Assets/css/images/mac-img.png" alt="" />
			</li>
		</ul>
	</div>
	<!-- end of slider -->
	<!-- end of slider -->

	<!-- thumbs -->
	<div id="thumbs-wrapper">
		<div id="thumbs">
			<a href="#img1" class="selected"><img src="{{THEME_URL}}/Assets/css/images/thumb.png"/></a>
			<a href="#img2"><img src="{{THEME_URL}}/Assets/css/images/thumb2.png" /></a>
			<a href="#img3"><img src="{{THEME_URL}}/Assets/css/images/thumb3.png" /></a>
			<a href="#img4"><img src="{{THEME_URL}}/Assets/css/images/thumb4.png" /></a>
			<a href="#img5"><img src="{{THEME_URL}}/Assets/css/images/thumb.png" /></a>
			<a href="#img6"><img src="{{THEME_URL}}/Assets/css/images/thumb2.png" /></a>
			<a href="#img7"><img src="{{THEME_URL}}/Assets/css/images/thumb3.png" /></a>
			<a href="#img8"><img src="{{THEME_URL}}/Assets/css/images/thumb4.png" /></a>
		</div>
		<a id="prev" href="#"></a>
		<a id="next" href="#"></a>
	</div>
	<!-- end of thumbs -->
</div>

<!-- slider-holder -->
