<section class="entries">
					<div class="entry">
						<h3>Latest Blog Posts</h3>
						<div class="entry-inner">
							<div class="date">
								<strong>01</strong>
								<span>2012</span>
								<em>feb</em>
							</div>
							<div class="cnt">
								<p><a href="#">Lorem ipsum dolor sit<br /> amet, consectetur dor</a></p>
								<p class="meta"><a href="#">by John Doe </a> /  <a href="#">Category Name</a></p>
							</div>
						</div>
						<div class="entry-inner">
							<div class="date">
								<strong>28</strong>
								<span>2012</span>
								<em>jan</em>
							</div>
							<div class="cnt">
								<p><a href="#">Lorem ipsum dolor sit<br /> amet, consectetur dor</a></p>
								<p class="meta"><a href="#">by John Doe </a> /  <a href="#">Category Name</a></p>
							</div>
						</div>
						<div class="entry-inner">
							<div class="date">
								<strong>11</strong>
								<span>2012</span>
								<em>feb</em>
							</div>
							<div class="cnt">
								<p><a href="#">Lorem ipsum dolor sit<br /> amet, consectetur dor</a></p>
								<p class="meta"><a href="#">by John Doe </a> /  <a href="#">Category Name</a></p>
							</div>
						</div>
					</div>
					<div class="entry">
						<h3>Latest Project</h3>
						<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h5>
						<a href="#"><img src="{{THEME_URL}}/Assets/css/images/col-img2.png" alt="" /></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dui ipsum, cursus ut adipiscing porta, vestibulum quis turpis adispicing amet sit.  <br /><a href="#" class="more">view more</a></p>
					</div>
					<div class="entry">
						<h3>Testimonials</h3>

						<div class="testimonials">					
							<p><strong>“</strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dui ipsum, cursus ut adipiscing porta, vestibulum quis turpis.”</p>
							<p class="author">John Doe, <strong>Company Name</strong></p>
						</div>
						
						<div class="partners">
							<h3>Our Partners</h3>
							<img src="{{THEME_URL}}/Assets/css/images/partners-img.png" alt="" />
						</div>
					</div>
					<div class="cl">&nbsp;</div>
				</section>