<div class="featured">
	<h4>Welcomeee to <strong>{{SITE_NAME}}</strong> Start tCreating Your Website Today completely for <strong>FREE!</strong></h4>
	<a href="#" class="blue-btn">GET IN TOUCH</a>
</div>