<div id="footer" style="">
	<div class="footer-nav">
		<ul>
			{% for ITEM in NAVIGATION_MENU_ITEMS %}
			<li>
			<a href="{{ITEM.url}}">{{ITEM.title}}</a>
			</li>
			{% endfor %}
		</ul>
		<div class="cl">
			&nbsp;
		</div>
	</div>
	<p class="copy">
		&copy; Copyright 2013<span>|</span>Copper Country Community Mental Health.
	</p>
	<div class="cl">
		&nbsp;
	</div>
</div>