<header id="header">
	<h1 id="logo"><a href="#">{{SITE_TITLE}}</a></h1>
	<!-- search -->
	<!--
	<div class="search">
		<form action="" method="post">
			<input type="text" class="field" value="keywords here ..." title="keywords here ..." />
			<input type="submit" class="search-btn" value="" />
			<div class="cl">
				&nbsp;
			</div>
		</form>
	</div>
	-->
	<!-- end of search -->
	<div class="cl">
		&nbsp;
	</div>
</header>