<!-- navigaation -->
<nav id="navigation" style="margin-top:-12px;padding:10px;height:20px;border-bottom: 4px double #E5E5E5;">
	<a href="#" class="nav-btn">HOME</a>

	<ul>
		{% for ITEM in NAVIGATION_MENU_ITEMS %}
		<!--{{POST_ID}} and {{ITEM.object_id}} {{ITEM.name}} {{CATEGORY}}-->
		{% if (POST_ID==ITEM.object_id) or (CATEGORY_NAME==ITEM.title)%}
		<li class="active">
			<a href="{{ITEM.url}}">{{ITEM.title}}</a>
		</li>
		{% else %}
		<li>
			<a href="{{ITEM.url}}">{{ITEM.title}}</a>
		</li>

		{% endif %}
		{% endfor %}

	</ul>
	<div class="cl">
		&nbsp;
	</div>
</nav>
<!-- end of navigation -->