<!-- slider-holder -->

<!-- slider -->
<div class="slider-holder">

	<!-- slider -->
	<div class="slider">
		<div class="socials">
			{{SOCIALS|raw}}
			<div class="cl">
				&nbsp;
			</div>
		</div>

		<div class="arrs">
			<a href="#" class="prev-arr"></a>
			<a href="#" class="next-arr"></a>
		</div>

		<ul>
			{% for SLIDE in SLIDES %}
       
     	   <li id="img{{SLIDE.ID}}">
				<div class="slide-cnt">
					<h4>{{SLIDE.HEADING|raw}}</h4>
					<h2>{{SLIDE.TITLE|raw}}</h2>
					<p>
						{{SLIDE.TEXT|raw}}</p>
				</div>
				<img src="{{SLIDE.URL|raw}}" alt="" style="width:398px;height:365px;border:5px solid white;"/>
			</li>
       
       
    		{% endfor %}
			
		</ul>
	</div>
	<!-- end of slider -->
	<!-- end of slider -->

	<!-- thumbs -->
	<div id="thumbs-wrapper">
		<div id="thumbs">
			{% for SLIDE in SLIDES %}
       
     	   <a href="#img{{SLIDE.ID}}" class=""><img src="{{SLIDE.URL}}" style="width:94px;height:69px;"/></a>
       
       
    		{% endfor %}
			
		</div>
		<a id="prev" href="#"></a>
		<a id="next" href="#"></a>
	</div>
	<!-- end of thumbs -->
</div>

<!-- slider-holder -->
