<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
	<title>{{bloginfo('name')}}</title>
	<link rel="shortcut icon" type="image/x-icon" href="{{THEME_URL}}/Assets/css/images/favicon.ico" />
	<link rel="stylesheet" href="{{THEME_URL}}/style.css" type="text/css" media="all" />

	<link rel="stylesheet" href="{{THEME_URL}}/Assets/css/style.css" type="text/css" media="all" />
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100' rel='stylesheet' type='text/css'>
	
	<script src="{{THEME_URL}}/Assets/js/jquery-1.8.0.min.js" type="text/javascript"></script>
	<!--[if lt IE 9]>
		<script src="{{THEME_URL}}/Assets/js/modernizr.custom.js"></script>
	<![endif]-->
	<script src="{{THEME_URL}}/Assets/js/jquery.carouFredSel-5.5.0-packed.js" type="text/javascript"></script>
	<script src="{{THEME_URL}}/Assets/js/functions.js" type="text/javascript"></script>
	<!---Kill Cache {{time()}}-->
	<style type="text/css">
	
		
	</style>
</head>
<body>
<!-- wrapper -->
<div id="wrapper">
	<!-- shell -->
	<div class="shell">
		<!-- container -->
		<div class="container">
			<!-- header -->
			{% autoescape false %}
			{% include HEADER %}
			{% endautoescape %}
			<!-- end of header -->
		
			{% autoescape false %}
			{% include NAVIGATION %}
			{% endautoescape %}
			
			
			{% if SLIDER %}
			{% autoescape false %}
			{% include 'Common/Slide.html' %}
			{% endautoescape %}
			{%endif%}

			<!-- main -->
			<div class="main">

			{% autoescape false %}
			{% include PAGE %}
			{% endautoescape %}
			
			
			{% autoescape false %}
			{% include 'Pages/Components/Entries.html' %}
			{% endautoescape %}
			
			</div>
			<!-- end of main -->
			<div class="cl">&nbsp;</div>
			
			<!-- footer -->
			{% autoescape false %}
			{% include FOOTER %}
			{% endautoescape %}
			<!-- end of footer -->
		</div>
		<!-- end of container -->
	</div>
	<!-- end of shell -->
</div>
<!-- end of wrapper -->
</body>
</html>